<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>RealProject</display-name>
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>com.user.userServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>Admin.Servlet.AdminServ</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>feedback</servlet-name>
		<servlet-class>Feedback.Servlet.FeedbackServ</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>feedback</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>contact</servlet-name>
		<servlet-class>Contact.Servlet.ContactServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

</web-app>